.profile-component {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
}

.profile-card {
    padding: 20px;
}

.user-info {
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Jost', sans-serif;
    text-transform: capitalize;
    color: #3307ad;
}

img.profile-avatar {
    width: 100px;
    border-radius: 50%;
}

.profile-card {
    margin: 20px 20px 20px 50px;
    background-color: rgba(255, 255, 255, 0.60);
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    box-sizing: border-box;
    width: 300px;
}

.profile-info {
    margin: 20px 20px 20px 10px;
}

.profile-edit {
    background-color: rgba(255, 255, 255, 0.60);
    padding: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    box-sizing: border-box;
    width: 60vw;
}

.profile-edit input {
    margin-bottom: 20px;
    border: none;
    border-bottom:  solid 1px rgba(0,0,0,.1);
    border-radius: 15px;
    background: transparent;
    transition:  all .3s linear; 
    color:  #000; 
    font-weight:  600;
    font-size:  14px; 
    display: block;
    font-family: 'Jost', sans-serif;
}

.form-buttons {
    margin-top: 40px;
    margin-bottom: 10px;
}

.edit-password {
    background-color: rgba(255, 255, 255, 0.60);
    padding: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    box-sizing: border-box;
    width: 60vw;
}

.edit-password input {
    margin-bottom: 20px;
    border: none;
    border-bottom:  solid 1px rgba(0,0,0,.1);
    border-radius: 15px;
    background: transparent;
    transition:  all .3s linear; 
    color:  #000; 
    font-weight:  600;
    font-size:  14px; 
    display: block;
    font-family: 'Jost', sans-serif;
}

.delete-acount {
    background-color: rgba(255, 255, 255, 0.60);
    padding: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    box-sizing: border-box;
    width: 60vw;
}

.delete-acount input {
    margin-bottom: 20px;
    border: none;
    border-bottom:  solid 1px rgba(0,0,0,.1);
    border-radius: 15px;
    background: transparent;
    transition:  all .3s linear; 
    color:  #000; 
    font-weight:  600;
    font-size:  14px; 
    display: block;
    font-family: 'Jost', sans-serif;
}

.delete-acount textarea {
    margin-bottom: 20px;
    border: none;
    border-bottom:  solid 1px rgba(0,0,0,.1);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: transparent;
    transition:  all .3s linear; 
    color:  #000; 
    font-weight:  600;
    font-size:  14px; 
    display: block;
    font-family: 'Jost', sans-serif;
    width: 20vw;
    height: 10vh;
}

.form-buttons button {
    display: inline;
    margin: 20px;
    padding: 15px;
    background: #3307ad;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: 25px;
}

.form-buttons div, 
.form-buttons button {
    font-size: inherit;
    font-family: inherit;
    border: none;
    display: inline;
    margin: 20px;
    padding: 15px;
    background: #3307ad;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: 25px;
}

.profile-menu {
    padding: 20px;
}

.profile-menu-ul {
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}

.profile-menu-ul:hover {
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #3307ad;
    font-weight: 600;
    transition: all ease 0.4s;
}


.panel-respuestas {
    margin-bottom: 50px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.60);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    box-sizing: border-box;
    width: 60vw;
}

div.panel-respuestas h3 {
    margin-bottom: 25px;
}

div.panel-preguntas h3 {
    margin-bottom: 25px;
}

.panel-preguntas {
    margin-bottom: 50px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.60);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    box-sizing: border-box;
    width: 60vw;
}

ul li {
    list-style: none;
}