.dropdown-menu {
    background: #3307ad;
    width: 100px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background: #F5F5F7;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #F9EA3B;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: rgb(48, 48, 48);
    padding: 16px;
  }

  
  @media screen and (max-width: 960px) {
    /* .fa-caret-down {
      display: none;
    } */
  }