div.home {
    padding: 4vw
}

div.home > header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.home-header-titulo {
    max-width: 50vw;
}

.home-conocer, .home-registro {
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
    padding: 15px;
    background-color: #F9EA3B;
    border-radius: 25px;
    color: #3307ad;
    font-weight: 700;
}

.home-conocer:hover, .home-registro:hover {
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
    padding: 15px;
    background-color: #3307ad;
    border-radius: 25px;
    color: #F5F5F7;
    font-weight: 700;
    transition: all ease 0.4s;
}


.home-articles {
    margin-top: 20px;
    max-width: 100vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.home-section-titles-description {
    max-width: 50vw;
}

.experto-imagen-perfil {
    width: 500px;
}

.last-cuestions-home {
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.home-questions {
    width: 60vw;
}