.quill {
    width: 75%;
    margin: auto;
}

.ql-toolbar.ql-snow {
    padding: 25px;
    background-color: lightsalmon;
}

.ql-container.ql-snow{
    background-color: lightgray;
    min-height: 500px;

}