.get-answers {
    padding: 20px 0px;
}

.answer.box {
    border-radius: 5px;
    background-color: white;
    padding: 20px 20px 20px 30px;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.answer.publish {
    border-bottom: 1px rgb(223, 211, 211) solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(163, 140, 184, 0.26);
    padding: 4px;
}

.answer.avatar {
    max-height: 26px;
    border-radius: 50px;
}

.answer.author {
    flex: 1 1 auto;
    color: rgb(145, 135, 135);
    font-size: 15px;
}

.answer.main {
    display: flex;
}

.answer.vote {
    display: flex;
    flex-direction: column;
    padding: 25px 2px;
    color: #6a737c;
    font-size: 26px;
}

.answer.body {
    padding: 20px 30px;
}

.answer.footer {
    display: flex;
}

.answer.acordeon {
    flex: 1 1 auto;
}

.ql-container.ql-snow{
    background-color: lightgray;
    min-height: 200px;

}
