.question.top {
    background-color: #3307ad;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
}

.question.top a {
    color: white;
}

.question.back {
    flex: 1 1 auto;
}

.question.language {
    color: white;
}

.question.language.tag {
    background-color: white;
    color: #3307ad;
    padding: 2px 4px;
}

.question.title {
    color: #3307ad;
    font-family: 'Jost', sans-serif;
    font-size: 28px;
}

.data.status.open {
    background-color: green;
    color: white;
    padding: 5px;
    margin-right: 3px;
}

.data.closed {
    background-color: red;
    color: white;
    padding: 5px;
    margin-right: 3px;
}

.question.avatar {
    max-height: 32px;
    border-radius: 50px;
}

.question.box {
    border-radius: 2px;
    background-color: white;
    padding: 30px;
    border-bottom: 1px solid rgb(223, 211, 211);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 10px;
}

.question.publish {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question.author {
    flex: 1 1 auto;
    color: rgb(145, 135, 135);
}
.question.body {
    text-align: left;
    padding: 10px;
}

.question.main {
    border-bottom: 1px solid #D6D9DC;
    padding: 20px;
    width: 65%;
    margin: auto;
}

.question.tags {
    display: flex;
    width: 75%;
    margin: auto 0 auto auto;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.question.tags a {
    background-color: var(--amarillo);
    padding: 5px 10px;
    border-radius: 10%;
    text-decoration: none;
    margin: 2px;
    color: var(--morado);
}