.questions-portal {
    width: 90%;
    margin: auto;
    display: flex;
}

.questions-portal .links {
    display: flex;
    flex-direction: column;
}

.questions-portal .create-question-button {
    background-color: var(--morado);
    text-decoration: none;
    color: var(--blanco);
    padding: 10px;
    border-radius: 0px 10px 10px 10px / 0px 10px 10px 10px;}

.questions-portal .left-aside {
    width: 20%;
}

.questions-portal .main-content {
    width: 45%;
    margin: 0px 100px 0px 60px;
}

.question-filter-form {
    width: 85%;
}

.questions-portal .main-content header {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-content-header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content-header-toolbar {
    margin-top: 50px;
    display: flex;
}

.main-content-header-toolbar div, input, button {
    border: 1px solid black;
    background-color: white;
    border-radius: 2px;
    padding: 5px;
}

.main-content-header-options {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content-header-options > * {
    width: 33%;
}

.pagination-set {
    display: flex;
    align-items: center;
}

.pagination {
    text-align: right;
    cursor: pointer;
}

.pagination-set > h6 {
    margin: 10px;
}

.questions-portal .right-aside {
    width: 20%;
}

.questions-portal .right-aside .blog {
    font-size: small;
    background-color: #FCF2D4;
    margin: 0 auto 30px auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.questions-portal .right-aside .blog > h6 {
    background-color: #FCF2D4;
    color: #6A7392;
    padding: 15px 10px;
    border-bottom: 1px solid #e4d8b3;
    font-size: medium;
}

.questions-portal .right-aside .blog ul {
    list-style: none;
    text-indent: none;
}

.questions-portal .right-aside .post-list h6 {
    background-color: #FCF2D4;
    color: #6A7392;
    padding: 10px;
}

.questions-portal .right-aside .post-list p {
    background-color: #FDF7E3;
    padding: 10px 20px;
    border-bottom: 1px solid #e4d8b3;
}

.questions-portal .right-aside .tags {
    border-bottom: 1px solid #e4d8b3;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.questions-portal .right-aside .tag-counter {
    margin: 10px 5px;
}

.questions-portal .right-aside .tags a {
    background-color: var(--amarillo);
    color: var(--morado);
    padding: 3px 7px;
    border-radius: 10%;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: medium;
}

.questions-portal .right-aside .tags .big {
    padding: 6px 14px;
    margin-bottom: 10px;
    font-size: large;
}

.questions-portal .right-aside .tags .small {
    padding: 2px 3px;
    margin-bottom: 2px;
    font-size: small;
}

.questions-portal .right-aside .tags span {
    font-size: xx-small;
    margin-left: 5px;
}

.questions-portal .return-button {
    border: none;
}

.return-button {
    border: none;
    display: contents;
    text-align: right;
    cursor: pointer;
    padding: 5px;
    transition: .5s;
}

.return-button:hover {
    font-size: medium;
}

@media only screen and (max-width: 1024px){
    .questions-portal .left-aside {display: none;}
    .questions-portal .right-aside {display: none;}
}