.question-preview-summary {
    border-bottom: 1px solid #D6D9DC;
    padding: 20px 0px;
    margin: auto;
    display: flex;
}

.question-preview-stats {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 10px;
    color: #6a737c;
    font-size: small;
}

.question-preview-votes {
    display: flex;
    flex-direction: column;
}

.question-preview-answers-count {
    display: flex;
    flex-direction: column;
}

.counter {
    padding: 5px;
    border-radius: 15%;
    font-size: x-large;
}

.question-preview {
    padding: 10px;
}

.question-preview h3 a {
    color: var(--morado);
    text-decoration: none;
}

.question-preview-excerpt {
    padding: 20px;
}

.question-preview-tags {
    display: flex;
    width: 75%;
    margin: auto 0 auto auto;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.question-preview-tags a {
    background-color: var(--amarillo);
    padding: 5px 10px;
    border-radius: 10%;
    text-decoration: none;
    margin: 2px;
    color: var(--morado);
}
