.question-title {
    color: #0077cc;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.question-body {
    text-align: left;
    padding: 10px;
}

.question-main {
    border-bottom: 1px solid #D6D9DC;
    padding: 20px;
    width: 65%;
    margin: auto;
}

.question-tags {
    display: flex;
    width: 75%;
    margin: auto 0 auto auto;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.question-tags a {
    background-color: var(--amarillo);
    padding: 5px 10px;
    border-radius: 10%;
    text-decoration: none;
    margin: 2px;
    color: var(--morado);
}
