@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  --amarillo: #F9EA3B;
  --morado: #3307ad;
  --blanco: #F5F5F7;
}

body {
  background-color: #F5F5F7;
  font-family: 'Open Sans', sans-serif;
  color: #404152;
}

.submit {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1;
  background-color: #F9EA3B;
  color: #3c4547;
  padding: 5px 15px 5px 15px;
  margin: 5px;
  width: 170px;
  height: 40px;
  border: 3px solid #3c4547;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
}
.submit:hover{
  background-color: #3c4547;
  color: #F9EA3B;
}