@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 30px;
    padding: 10px 20px;
}

.nav-header a {
    color: #3c4547;
    text-decoration: none;
    margin-right: 30px;
}

.menu-nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Jost', sans-serif;
}

.selected {
    font-weight: 600;
}

.user-nav {
    margin-left: 30px;
}

/* Hay que darle estilo al boton */
.user-nav button {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    color: #3c4547;
    cursor: pointer;
}

img.logo {
    max-width: 160px;
}

.logout {
    background: transparent;
    border: none;
}
